<h1><%= @student.to_s %></h1>

<% if @student.active == false %>
    <%= render :text => "This student is currently inactive." %>
<% else %>
    <%= render :text => "This student is currently active." %>
<% end %>
<br>
<br>

<%= link_to "All Students", students_path %>